@import '../../../styles.scss';

.header-container {

    &__img-container {

        &__img {
            background-image: $logo-gradient, url(../../../assets/rocket-icon.jpg);
            background-blend-mode: screen;
            background-size: cover;
            width: 150px;
            height: 150px;
            border: 3px solid lighten($primary-color, 25%);
            border-radius: 100%;
            box-shadow: 0px 0px 30px 8px lighten(rgba($primary-color, .26), 40%);
        }
    }

    &__title-container {

        &__title {
            background: $primary-color;
            background: -webkit-linear-gradient(to left, lighten($primary-color, 5%) 0%, lighten($primary-color, 30%) 100%, darken($primary-color, 15%) 0%);
            background: -moz-linear-gradient(to left, lighten($primary-color, 5%) 0%, lighten($primary-color, 30%) 100%, darken($primary-color, 15%) 0%);
            background: linear-gradient(to left, lighten($primary-color, 5%) 0%, lighten($primary-color, 30%) 100%, darken($primary-color, 15%) 0%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @include boldFont;
        }
    }
}