<div class="container-fluid articles-container mb-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8"> 
            <app-article *ngFor="let article of articles" [articleData]="article"></app-article>
        </div>
    </div>
    <div *ngIf="!searchTerm" #loadingSymbol class="row justify-content-center">
        <div class="articles-container__loading-symbol"></div>
    </div>
    <div *ngIf="searchTerm" class="row justify-content-center">
        <button class="articles-container__button btn" (click)="searchTerm = ''">Clear Search</button>
    </div>
</div>
