@import '../../../../../styles.scss';

.modal-container {

    a {
        text-decoration: none;
        color: $white;
        border: none;
    }

    &__img {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__title-container {

        background-color: $primary-color;
        clip-path: polygon(0 0, 100% 0%, 100% 53%, 0% 100%);
        height: 100px;

        &__title {
            font-size: $big-font-size;
            background: $white;
            background: -webkit-linear-gradient(to top left, lighten($white, 5%) 0%, lighten($white, 40%) 100%);
            background: -moz-linear-gradient(to top left, lighten($white, 5%) 0%, lighten($white, 40%) 100%);
            background: linear-gradient(to top left, lighten($white, 5%) 0%, lighten($white, 40%) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @include boldFont;
        }
    
    }

    &__date {
        font-size: $small-font-size;
        color: lighten($primary-color, 20%);
        @include boldFont;
    }

    &__action-button {
        background: $primary-color;
        background: $primary-gradient;
        color: $white;
        border-radius: 20px;
        font-size: $small-font-size;
        box-shadow: 0px 0px 30px 8px lighten(rgba($primary-color, .25), 40%);
    }

    &__text {
        font-size: $small-font-size;
    }
}