<div class="container-fluid modal-container mt-4 mb-4 mx-1 mx-md-0">
    <div class="row justify-content-center">
        <div class="col-10 col-md-5 p-0 p-md-2">
            <img class="modal-container__img" [src]="articleData.imageUrl">
        </div>
        <div class="col-10 col-md-7">
            <div class="row modal-container__title-container mb-3">
                <div class="modal-container__title-container__title">
                    {{ articleData.title }}
                </div>
            </div>
            <div class="row p-0">
                <div class="col-6 modal-container__date p-0">
                    {{ articleData.publishedAt | date: 'short' }}
                </div>
            </div>
            <div class="row modal-container__text mt-2 pr-2">
                {{ articleData.summary }}
            </div>
        </div>
    </div>
    <div class="row my-4 justify-content-around">
        <div (click)="close()" class="col-3 modal-container__action-button p-2 text-center">
            Back
        </div>
        <a class="col-3 text-center modal-container__action-button p-2" [href]="articleData.url" target="blank">
            Go to the website
        </a>
    </div>
</div>
