/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Font Family */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

$primary-color: #302E53;
$secondary-color: #D07017;
$black: #1E2022;

$font-family: 'Roboto Condensed', sans-serif;

* {
    font-family: $font-family;
}

@mixin uppercaseFont {
    text-transform: uppercase;
}

@mixin boldFont {
    font-weight: 700;
}


